APP_ENV=local
MAKEFILE_UID={MAKEFILE_UID}
MAKEFILE_GID={MAKEFILE_GID}
PHP_IDE_CONFIG=serverName=developer-task
XDEBUG_SESSION=1
XDEBUG_START_WITH_REQUEST=yes
XDEBUG_MODE=debug
XDEBUG_CLIENT_HOST=host.docker.internal